.banner{
    color: white;
    object-fit: contain;
    height: 448px;
}

.banner-container{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner-description{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 350px;
    height: 80px;
}

.banner-button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner-button:hover{
    color: rgba(51, 51, 51);
    background-color: white;
    transition: all 0.2s;
}

.banner-fade-bottom{
    height: 7.6rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.5),
        #111
    );
}