.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    height: 30px;
    transition: all 0.5s;
    transition-timing-function:ease-in ;
}

.nav__black{
    background-color: #111;
}

.nav__logo{
    position: fixed;
    width: 80px;
    object-fit: contain;
    left: 20px;
}

.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}