.movie-posters-slider {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.movie-posters-slider::-webkit-scrollbar{
    display: none;
}

.movie-poster {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    transition-timing-function: cubic-bezier(1, -0.6, 0.58, 1);
    transition-duration: 0.3s;
    margin-right: 10px;
}

.movie-poster:hover {
    opacity: 1;
    transform: scale(1.09);
}